# Server Configuration
PORT=1420
BASE_DIR=/Users/patiphopungudchuak/Documents/workspaces/sync-local-files

# Payload and File Size Limits
MAX_PAYLOAD_SIZE=104857600
MAX_FILE_SIZE=52428800

# Ping Interval (in milliseconds)
PING_INTERVAL=30000

# Compression Settings
COMPRESSION_ENABLED=true
COMPRESSION_THRESHOLD=1024
COMPRESSION_CONCURRENCY_LIMIT=10

